.btn-icon {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.92969rem;
  font-weight: 400;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.btn-icon.btn-xs {
  font-size: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
}

.btn-icon.btn-sm {
  font-size: 0.875rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

.btn-icon.btn-lg {
  font-size: 1rem;
  width: 3.36875rem;
  height: 3.36875rem;
}


.btn-light {
  --#{$prefix}btn-color: #{$gray-600};
  --#{$prefix}btn-bg: #{$gray-100};
  --#{$prefix}btn-border-color: #{$gray-100};
  --#{$prefix}btn-hover-color: #{$gray-800};
  --#{$prefix}btn-hover-bg: #{$gray-200};
  --#{$prefix}btn-hover-border-color: #{$gray-200};
  --#{$prefix}btn-active-color: #{$gray-800};
  --#{$prefix}btn-active-bg: #{$gray-200};
  --#{$prefix}btn-active-border-color: #{$gray-200};
  --#{$prefix}btn-disabled-color: #{$gray-800};
  --#{$prefix}btn-disabled-bg: #{$gray-400};
  --#{$prefix}btn-disabled-border-color: #{$gray-400};
}