.card-lift {
   transition:
      transform 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
   border-radius: $border-radius-lg;
   &:hover,
   &:focus,
   &.active {
      transform: translateY(-0.25rem);
      box-shadow:
         0 10px 15px -3px rgba(0, 0, 0, 0.1),
         0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
   }
}