

.text-xs{
	font-size: $font-xs !important;
}
.nav-link.active {
  color: $primary !important;
  
}

.circle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: rgba($primary, 0.05);
  border-radius: 9999px;
  filter: blur(48px);
}

// pulse wave

.play-btn {
    font-size: 24px;
    line-height: 32px;
    position: relative;
    background-color: rgba($primary, 0.85);
    &:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate1 2s;
        animation: pulsate1 2s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid var(--#{$prefix}border-color);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    }
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}


@import "./avatar";
@import "./button";
@import "./icon-shape";
@import "./utilities";
@import "./card";
