@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-size": (
  rfs: true,
  responsive: true,
  property: font-size,
  class: fs,
  values: $font-sizes
),
"position": (
  property: position,
   responsive: true,
  values: static relative absolute fixed sticky
),
"top": (
  property: top,
   responsive: true,
  values: $position-values
),
"bottom": (
  property: bottom,
   responsive: true,
  values: $position-values
),
"start": (
  property: left,
  class: start,
   responsive: true,
  
  values: $position-values
),
"end": (
  property: right,
  class: end,
   responsive: true,
  values: $position-values
),
"translate-middle": (
  property: transform,
  class: translate-middle,
   responsive: true,
  values: (
    null: translate(-50%, -50%),
    x: translateX(-50%),
    y: translateY(-50%),
  )
),
  )
);

@import "bootstrap/scss/utilities/api";